body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F5F5;
}

.container {
    max-width: 90%; /* 20% larger */
    background-color: #FAF8F4;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    
}

#main-container {
    margin-top: 7%;
    margin-bottom: 5%;
}

.logo {
    position: absolute;
    top: 18px; /* 20% larger */
    left: 18px; /* 20% larger */
    width: 180px; /* 20% larger */
}

.team-name {
    position: absolute;
    top: 81.6px; /* 15% smaller */
    left: 38.9px; /* 5% to the right */
    font-size: 19.38px; /* 15% smaller */
    font-weight: bold;
    text-transform: lowercase;
    font-family: "Merriweather", serif;
}

#microtask-name {
    text-transform: capitalize;
}

textarea {
    resize: vertical;
    font-size: 120%; /* 20% larger */
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    background-color: #FFFDFC;
}

label {
    font-size: 120%; /* 20% larger */
    color: #333;
}

.task-description {
    height: 380px; /* 20% larger */
    resize: vertical;
    max-width: 80%;
    color: #333;
}

.key-features {
    height: 380px; /* 20% larger */
    resize: vertical;
    max-width: 85%;
    color: #333;
}

.summary {
    height: 380px; /* 20% larger */
    resize: none;
    width: 115%;
    margin-left: -10%;
    color: #333;
}

.original-text {
    height: 380px; /* 20% larger */
    resize: none;
    width: 115%;
    margin-left: -17%;
}

.text-input {
    height: 380px;
    aspect-ratio: 1/1;
    resize: vertical;
    color: #333;
}

.foggy {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.btn-lg.submit-button {
    padding: 2.5px 160px; /* 25% shorter and narrower */
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    background-color: #8F8176;
    color: #FFFDFC;
}

#unfog-button {
    padding: 2.5px 10px;
    margin-top: 3%;
    bottom: 10px;
    right: -90px;
    background-color: #f95959;
}

#exit-button {
    /* margin-top: -15%; */
    /* margin-right: 10%; */
    background-color: #f95959;
    /* width: 110%; */
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

#next-task {
    padding: 2.5px 10px;
    margin-top: 3%;
    left: 200px;
    background-color: #8F8176; 
}

#next-info {
    padding: 2.5px 10px;
    margin-top: 3%;
    right: 200px;
    background-color: #8F8176;
}

.logout-container {
    height: 130%;  /* Increase the height */
    background-color: #FAF8F4;
    padding: 20px;
    border-radius: 10px;
    margin-top: 7%;
}

.logout-title {
    margin-top: 2%;
    font-size: 1.5rem;  /* Decrease the font size */
    font-weight: bold;
}

.white-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 2%;
    text-align: center;  /* Center the text */
}

.questionnaire-url {
    font-weight: bold;  /* Make the text bold */
    font-size: 130%;
    color: #1a53ff;
}

.title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10%; */
}