<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarization Experiment</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <a href="https://www.tudelft.nl/en/" target="_blank">
        <img src="/static/tu-delft-logo.png" alt="TU Delft" class="logo">
    </a>
    <div class="team-name smaller-right">cc23-team4-5</div>
    <div id="main-container" class="container">
        <div class="text-end mt-3">
            <a id="revoke-button" href="/revoke-consent" class="btn" style="background-color:purple; font-size: 105%; color: white;">Leave & Revoke Consent</a>
        </div>
        <h1 id="microtask-name" class="text-center mb-4">{{ microtask_name }}</h1>
        <div class="row justify-content-center">
            <div class="col mb-3">
                <label for="task-description" class="form-label text-center d-block fw-bold">Task Description</label>
                <p class="form-control task-description" id="task-description" rows="6" style="height: 100%; resize: none;">
<b>Task</b><br>
Identify the key points that would help in summarizing the following text (around 10-25 key points, expressed as bullet points)
<br>            

<br><br>
<b>Instructions</b><br>
Read the text in the 'Original Text' text box. <br>
(You can use the scrollwheel on the right to sroll down the text) <br><br>
Write down the key points of the text in the 'Key Features' text box. <br>
Submit your answer.
                <p>
            </div>
            <div class="col mb-3">
                <label for="original-text" class="form-label text-center d-block fw-bold">Original Text</label>
                <textarea readonly class="form-control original-text" id="original-text" rows="6" style="height: 100%; resize: none;">{{ original_text }}</textarea>
            </div>
            <div class="col mb-3 position-relative">
                <label for="text-input" class="form-label text-center d-block fw-bold">Key Features</label>
                <textarea class="form-control text-input" id="text-input" rows="6" style="height: 100%; resize: none;">{{ user_answer }}</textarea>
            </div>
        </div>
        <div class="text-center" style="margin-top: 4.2%;">
            <button id="submit-button" class="btn btn-primary btn-lg submit-button narrower shorter">Submit</button>
        </div>
        <div class="text-end mt-3">
            <a id="exit-button" href="/wyloguj_user" class="btn btn-success" style="font-size: 20px; padding: 10px 20px; border-radius: 10px;">Go To Questionnaire</a>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="confirmationModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p id="modal-text"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <a href="" id="confirm-action" class="btn btn-primary">Confirm</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              You haven't submitted your answer. Are you sure you want to continue?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary early-exit">Continue</button>
            </div>
          </div>
        </div>
      </div>
  
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
      <script src="/static/scripts.js"></script>
  </body>
  </html>
